.table .thead-primary th {
    color: #fff;
    background-color: rgb(0, 123, 255);
    border-color: rgba(0, 123, 255, .5);
}
.table .thead-secondary th {
    color: #fff;
    background-color: rgb(108, 117, 125);
    border-color: rgba(108, 117, 125, .5);
}
.table .thead-info th {
    color: #fff;
    background-color: rgb(23, 162, 184);
    border-color: rgba(23, 162, 184, .5);
}
.table .thead-success th {
    color: #fff;
    background-color: rgb(40, 167, 69);
    border-color: rgba(40, 167, 69, .5);
}
.table .thead-warning th {
    color: #fff;
    background-color: rgb(255, 193, 7);
    border-color: rgba(255, 193, 7, .5);
}
.table .thead-danger th {
    color: #fff;
    background-color: rgb(220, 53, 69);
    border-color: rgba(220, 53, 69, .5);
}
.table .thead-indigo th {
    color: #fff;
    background-color: rgb(102, 16, 242);
    border-color: rgba(102, 16, 242, .5);
}
.table .thead-navy th {
    color: #fff;
    background-color: rgb(0, 31, 63);
    border-color: rgba(0, 31, 63, .5);
}
